In [3]:
def signal_red():
    print("to stop")
def signal_yellow():
    print("wait")
def signal_green():
    print("to go")
signal_red()
signal_yellow()
signal_green()

to stop
wait
to go

In [4]:
def greet():
    print('Hello World!')

# call the function
greet()

print('Outside function')

Hello World!
Outside function

In [5]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print('Sum: ',sum)
add_numbers()

TypeError: ignored

In [8]:
 #function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print('Sum: ',sum)
add_numbers(2,3)

Sum:  5

In [16]:
def my_name(*name):
  print("my name is:",name[0])
my_name("medhaswi","sri","pada")

my name is: medhaswi

In [14]:
def my_name(*name):
  print("my name is:",name)
my_name("medhaswi","sri","pada")

my name is: ('medhaswi', 'sri', 'pada')

In [18]:
def find_square(num):
    result = num * num
    return result
square = find_square(3)
print('Square:',square)

Square: 9

In [21]:
n = int(input())
def find_square(num):
    result = num ** 4
    return result
square = find_square()

print('Square:',square)

5

TypeError: ignored

In [28]:
n = int(input())
def find_square(num):
    result = num **3
    return result
square = find_square(n)
print('Square:',square)

6
Square: 216

In [35]:
def my_function(x):
  return 5 * x
print(my_function(3),end=",")
print(my_function(5),end=",")
print(my_function(9))

15,25,45

In [45]:
def recursion(k):
  if(k > 0):
    result = k + recursion(k - 1)
    print(result,end=",")
  else:
    result = 0
  return result
print("\n\nRecursion Example Results")
recursion(10)

Recursion Example Results
1,3,6,10,15,21,28,36,45,55,

55