In [ ]:
str1 = input()
str2 = input()
str3 = input()
print(str1)
print(str2)
print(str3)
print(str1 +"c++"+ str2 + str3)

input1
input2
input3
input1
input2
input3
input1c++input2input3

In [ ]:
str1 = input()
print(type(str1))
x = int(input())
print(type(x))
y = float(input())
print(type(y))
print(str1)
print(x)
print(y)
print(f"str1 + x + y")

name
<class 'str'>
89
<class 'int'>
87.9
<class 'float'>
name
89
87.9
str1 + x + y

In [ ]:
x = int(input())
y = int(input())
print(x)
print(y)
print("x+y="+"",x+y)

98
76
98
76
x+y= 174

In [ ]:
x = int(input())
y = int(input())
Z = int(input())
print(x)
print(y)
print(Z)
print("x+y+Z="+"",x+y+Z)

98
76
6
98
76
6
x+y+Z= 180

In [ ]:
#sub of 2 numbers
x = int(input())
y = int(input())
print(x)
print(y)
print("x-y="+"",x-y)

43
76
43
76
x-y= -33

In [ ]:
#mul of 2 numbers
x = int(input())
y = int(input())
print(x)
print(y)
print("x*y="+"",x*y)

22
31
22
31
x*y= 682

In [ ]:
#div of 2 numbers
x = int(input())
y = int(input())
print(x)
print(y)
print("x/y="+"",x/y)

25
5
25
5
x/y= 5.0

In [10]:
name = input()
radius  = int(input())
print(f"earth is {name} and its radius is {radius}")

earth
6317
earth is earth and its radius is 6317

In [ ]:
NamE = "madhu"
print(NamE)
naME = "MADHUvhorevheirviureh"
print(naME)

madhu
MADHUvhorevheirviureh

In [ ]:
if 5 < 2:
  print("five is greater than 2 ")
else :
  print("five less than 2")

five less than 2

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(f"value of x is",x)
print(f"value of y is",y)
print(f"value of z is",z)

value of x is 3
value of y is 3
value of z is 3.0

In [ ]:
x = 5
y = "jupiter"
print(type(x))
print(f'x is an integer type and its value is',x)
print(type(y))
print(f'y is string & the name of the string is',y)

<class 'int'>
x is an integer type and its value is 5
<class 'str'>
y is string & the name of the string is jupiter

In [ ]:
fruits = ["apple", "banana" ,"cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x +' '+ y+' ' +' ' +z)

Python is  awesome