In [1]:
fruits = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruits)
print(id(fruits))

['apple', 'banana', 'cherry', 'apple', 'cherry']
137614089364288

In [10]:
fruits = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruits)
print(id(fruits))
print(len(fruits))
print(fruits[2])

['apple', 'banana', 'cherry', 'apple', 'cherry']
137613590375232
5
cherry

In [14]:
list1 = ["apple", "banana", "cherry"]
print(list1)
print(id(list1))
list2 = [1, 5, 7, 9, 3]
print(list2)
print(id(list2))
list3 = [True, False, False]
print(list3)
print(len(list3))

['apple', 'banana', 'cherry']
137613230311040
[1, 5, 7, 9, 3]
137613230505920
[True, False, False]
3

In [19]:
list1 = ["apple", "banana", "cherry"]
print("elements in 1st list are:",list1)
print("2nd element in list1 is:",list1[2])
print("id of 2nd element in list1:",id(list1[2]))
print(id(list1))
print()
list2 = [1, 5, 7, 9, 3]
print("elements in 2nd list:",list2)
print("4th element in list2:",list2[4])
print("id of 4th element in list2:",id(list2[4]))
print(id(list2))
print()
list3 = [True, False, False]
print(list3)
print(len(list3))
print(id(list3))

elements in 1st list are: ['apple', 'banana', 'cherry']
2nd element in list1 is: cherry
id of 2nd element in list1: 137614075084208
137613230530112

elements in 2nd list: [1, 5, 7, 9, 3]
4th element in list2: 3
id of 4th element in list2: 137614502740272
137613230536640

[True, False, False]
3
137613230196416

In [1]:
l = ["abc", 34, True, 40, "male"]
print(l)
print("id of the list:",id(l))
print("length of the list:",len(l))
print(l[1],",",id(l[1]))
print()
print(l[0],",",id(l[0]))
print(l[3],",",id(l[3]))

['abc', 34, True, 40, 'male']
id of the list: 138600358289792
length of the list: 5
34 , 138600786265360

abc , 138600785072368
40 , 138600786265552

In [28]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))
print(type(list1[4]))

['abc', 34, True, 40, 'male']
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>

In [33]:
list1 = ["abc", 34, True, 40, "male"]
print(int(len(list1[0])))

3

In [38]:
colours = ["red", "yellow", "green", "orange", "white"]
print(colours[-1])
print("length is:",len(colours[-1]))
print("id is:",id(colours[-1]))
print(colours[-4])
print(colours[3])

white
length is: 5
id is: 137614367842544
yellow
orange

In [40]:
#program to specify the range of the elements in list
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5+1])

['cherry', 'orange', 'kiwi', 'melon']

In [41]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [44]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4+1])

['banana', 'cherry', 'orange', 'kiwi']

In [49]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[0:6+1])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [50]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [55]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-2])

['orange', 'kiwi']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon']

In [10]:
fruits = ["apple", "banana", "cherry","watermelon"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'orange']

In [11]:
fruits = ["apple", "banana", "cherry","watermelon"]
fruits.insert(2,"orange")
print(fruits)

['apple', 'banana', 'orange', 'cherry', 'watermelon']

In [12]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.insert(1 ,b)
b.insert(2 ,a)
print(a)
print(b)

['apple', ['mango', 'pineapple', [...], 'papaya'], 'banana', 'cherry']
['mango', 'pineapple', ['apple', [...], 'banana', 'cherry'], 'papaya']