In [ ]:
# concat with strings
str1 = input()
str2 = input()
print(str1)
print(str2)
print(str1 +"c++"+ str2)

java
python
java
python
javac++python

In [ ]:
#end keyword usage
str1 = input()
str2 = input()
print(str1,end="")
print(str2,end="")
print(str1 +"c++"+ str2)

java
python
javapythonjavac++python

In [ ]:
#adding two number program
x = int(input())
print(type(x))
y = int(input())
print(type(y))
print(x)
print(y)
print(x+y)

10
<class 'int'>
55
<class 'int'>
10
55
65

In [ ]:
#sub two number program

In [ ]:
#mul two number program

In [ ]:
#div two number program

In [ ]:
#string format
name = input()
age  = int(input())
print(f"my name is {name} and my age is {age}")

madhu
30
my name is madhu and my age is 30

In [ ]:
#Case-Sensitive
name1 = "madhu"
print(name1)
name2 = "MADHU"
print(name2)

madhu
MADHU

In [ ]:
6NamE = "madhu"
print(6NamE)
naME = "MADHUvhorevheirviureh"
print(naME)

SyntaxError: ignored

In [ ]:
'''
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.
'''

In [ ]:
"""
myvar = "John"  valid
my_var = "John" valid
_my_var = "John" valid
myVar = "John" valid
MYVAR = "John" valid
myvar2 = "John" valid
2myvar = "John" unvalid
my-var = "John" valid
myvar = "John" valid
"""

In [ ]:
my-var = "John"
print(my-var)

SyntaxError: ignored

In [ ]:
my_var = "John"
print(my_var)
my-var = "John"
print(my-var)

SyntaxError: ignored

In [ ]:
#multi assignment
x, y, z = "Orange", "Banana", "Cherry"
print(z, end=",")
print(x, end=",")
print(y)

Cherry,Orange,Banana

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange