In [ ]:
range(start,end,step (or) jump)

In [4]:
print(*range(1,20,2))

1 3 5 7 9 11 13 15 17 19

In [6]:
print(*range(1,20))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [12]:
n = int(input())
print(*range(3,n+1,4))

20
3 7 11 15 19

In [17]:
n = int(input())
for i in range(1,10):

  print(i,end=" ")

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [18]:
range(11)

range(0, 11)

In [19]:
print(list(range(7, 8)))

[7]

In [20]:
print(*range(2.5, 5.5))

TypeError: ignored

In [ ]:
# * = spread operator here

In [22]:
print(list(range(8, 8)))

In [23]:
print(*range(3, 15, 4))

3 7 11

In [25]:
print(list(range(6, 2)))

[6, 5, 4, 3]

In [26]:
for i in range(-1, 10, 2):
    print(i, end=' ')

-1 1 3 5 7 9

In [30]:
#Print all even numbers from 2 till N
n = int(input())
for i in range(2,n+1,2):
  print(i, end=" ")

50
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [34]:
#Print squares of all numbers from 1 to N
n = int(input())
for i in range(1,n+1):
  print(i**2, end = " ")

20
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [40]:
n = int(input())
for i in range(50,n-1,-1):
  print(i**2, end = " ")

1
2500 2401 2304 2209 2116 2025 1936 1849 1764 1681 1600 1521 1444 1369 1296 1225 1156 1089 1024 961 900 841 784 729 676 625 576 529 484 441 400 361 324 289 256 225 196 169 144 121 100 81 64 49 36 25 16 9 4 1

In [41]:
for i in range(-5, -20, -3):
    print(i, end=' ')

-5 -8 -11 -14 -17

In [43]:
for i in range(1, 100):
    if i == 30:
        continue
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [45]:
skip_number = int(input())
n = int(input())
for i in range(1, n):
    if i == skip_number:
        continue
    print(i, end=' ')

48
100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47

In [ ]:
for i in range(1, 100):
    if i == 30:
        break
    print(i, end=' ')

In [46]:
break_number = int(input())
n = int(input())
for i in range(1, n):
    if i == break_number:
        break
    print(i, end=' ')

8
20
1 2 3 4 5 6 7

In [51]:
for i in range(-5, False):
    print(i)

In [54]:
for i in range(0,10):
     if(i%3==0):
        continue
     print(i, end=' ')

1 2 4 5 7 8

In [ ]:
# For loops vs while loops
# for-loops have a cleaner syntax
# while loops are used when the behaviour of loop is not completely defined
# Performance - No difference

In [71]:
for j in range(5):
    print("*",end =" ")
print()
for j in range(5):
    print("*",end =" ")
print()
for j in range(5):
    print("*",end =" ")
print()
for j in range(5):
    print("*",end =" ")
print()

* * * * *
* * * * *
* * * * *
* * * * *

In [77]:
n = int(input())
m = int(input())
for i in range(m):
  for j in range(n):
    print("{",i,j,"}",end ="")
  print()

5
5
{ 0 0 }{ 0 1 }{ 0 2 }{ 0 3 }{ 0 4 }
{ 1 0 }{ 1 1 }{ 1 2 }{ 1 3 }{ 1 4 }
{ 2 0 }{ 2 1 }{ 2 2 }{ 2 3 }{ 2 4 }
{ 3 0 }{ 3 1 }{ 3 2 }{ 3 3 }{ 3 4 }
{ 4 0 }{ 4 1 }{ 4 2 }{ 4 3 }{ 4 4 }

In [89]:
n = int(input())
m = int(input())
for i in range(m):
  for j in range(i):
    print("*",end =" ")
  print()

5
5

*
* *
* * *
* * * *

In [86]:
for i in range(5):
    print("* " *5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [91]:
n = int(input())
m = int(input())
for i in range(m):
  for j in range(i):
    print("{",i,j,"}",end ="")
  print()

10
10

{ 1 0 }
{ 2 0 }{ 2 1 }
{ 3 0 }{ 3 1 }{ 3 2 }
{ 4 0 }{ 4 1 }{ 4 2 }{ 4 3 }
{ 5 0 }{ 5 1 }{ 5 2 }{ 5 3 }{ 5 4 }
{ 6 0 }{ 6 1 }{ 6 2 }{ 6 3 }{ 6 4 }{ 6 5 }
{ 7 0 }{ 7 1 }{ 7 2 }{ 7 3 }{ 7 4 }{ 7 5 }{ 7 6 }
{ 8 0 }{ 8 1 }{ 8 2 }{ 8 3 }{ 8 4 }{ 8 5 }{ 8 6 }{ 8 7 }
{ 9 0 }{ 9 1 }{ 9 2 }{ 9 3 }{ 9 4 }{ 9 5 }{ 9 6 }{ 9 7 }{ 9 8 }

In [99]:
n = int(input())
m = int(input())

for i in range(1,m+1):
  for j in range(1,n+1):
    print("{",i,j,"}",end ="")
  print()

5
5
{ 1 1 }{ 1 2 }{ 1 3 }{ 1 4 }{ 1 5 }
{ 2 1 }{ 2 2 }{ 2 3 }{ 2 4 }{ 2 5 }
{ 3 1 }{ 3 2 }{ 3 3 }{ 3 4 }{ 3 5 }
{ 4 1 }{ 4 2 }{ 4 3 }{ 4 4 }{ 4 5 }
{ 5 1 }{ 5 2 }{ 5 3 }{ 5 4 }{ 5 5 }

In [94]:
n = int(input())
m = int(input())
for i in range(m):
  for j in range(i):
    print("* ",end =" ")
  print()

10
10

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *