In [ ]:
a = 10
b = 15
print(max(10,15))

15

In [ ]:
a = 10
b = 15
print(min(10,15))

10

In [ ]:
range()
print()

In [ ]:
#Functions

In [ ]:
print("Boil some water")
print("Add some tea leaves, sugar and milk")
print("Heat it for a few mins")

print("Boil some water")
print("Add some tea leaves, sugar, ginger and milk")
print("Heat it for a few mins")

print("Boil some water")
print("Add some tea leaves, sugar and milk")
print("Heat it for a few mins")

print("Boil some milk")
print("Add coffee powder")

print("Boil some water")
print("Add some tea leaves, sugar and milk")
print("Heat it for a few mins")

print("Boil some milk")
print("Add coffee powder")

Boil some water
Add some tea leaves, sugar and milk
Heat it for a few mins
Boil some water
Add some tea leaves, sugar, ginger and milk
Heat it for a few mins
Boil some water
Add some tea leaves, sugar and milk
Heat it for a few mins
Boil some milk
Add coffee powder
Boil some water
Add some tea leaves, sugar and milk
Heat it for a few mins
Boil some milk
Add coffee powder

In [ ]:
def tea():
    print("Boil some water")
    print("Add some tea leaves, sugar, ginger and milk")
    print("Heat it for a few mins")

def coffee():
    print("Boil some water")
    print("Add some coffee leaves, sugar, ginger and milk")
    print("Heat it for a few mins")

def boilmilk():
    print("Boil some water")
    print("pour milk")
    print("Heat it for a few mins")

tea()
coffee()
boilmilk()

Boil some water
Add some tea leaves, sugar, ginger and milk
Heat it for a few mins
Boil some water
Add some coffee leaves, sugar, ginger and milk
Heat it for a few mins
Boil some water
pour milk
Heat it for a few mins

In [ ]:
def max(x,y):
  if x>=y:
    print("a value is :",x)
  else:
    print("b value is :",y)
a = int(input())
b = int(input())
c = int(input())
d = int(input())
max(a,b)
max(c,d)

10
20
30
40
b value is : 20

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
my_function("madhu")

Emil Refsnes
Tobias Refsnes
Linus Refsnes
madhu Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil","madhu")

Emil madhu

In [ ]:
def my_function(kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

TypeError: ignored

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[4])

my_function("Emil", "Tobias", "Linus","rviiv","ckvkj")

The youngest child is ckvkj

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(child1, child2, child3):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(child1, child3, child2):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [ ]:
def my_function(child2, child3, child1):
  print("The youngest child is " + child3)

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

my_function(fname = "madhu", lname = "kishore")

my_function(fname = "ias", lname = "nes")

His last name is Refsnes
His last name is kishore
His last name is nes

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
#my_function("India")
my_function()
#my_function("Brazil")

I am from Sweden
I am from Norway

In [ ]:
def simple_interest(p,t,r):
    i = (p * t * r)/100
    print(i)
p = int(input())
t = int(input())
r = int(input())
simple_interest(p,t,r)

10000
2
1600.0

In [ ]:
def simple_interest(p,t,r = 8):
    i = (p * t * r)/100
    print(i)
p = int(input())
t = int(input())
simple_interest(p,t)

10000
2
1600.0

In [ ]:
def simple_interest(p,t,r = 8):
    i = (p * t * r)/100
    print(i)
p = int(input())
t = int(input())
r = int(input())
simple_interest(p,t,r)

10000
2
10
2000.0

In [38]:
def my_function(food):
  for x in food:
    print(x,end = " ")

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple banana cherry

In [39]:
def my_function(food):
  for x in food:
    print(x,end = " ,")

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple ,banana ,cherry ,

In [49]:
def my_function(x):
  print("input of x is :",x)
  return 5 * x

def function():
  pass

print(my_function(3))
print(my_function(5))
print(my_function(9))

input of x is : 3
15
input of x is : 5
25
input of x is : 9
45

In [ ]:
#The pass Statement
def myfunction():
  pass

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

In [56]:
# Python program to illustrate
# *args for variable number of arguments
def myFun(*argv):
    count = 0
    for arg in argv:
        count = count + 1
        print(count,arg)

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

1 Hello
2 Welcome
3 to
4 GeeksforGeeks

In [57]:
# Python program to illustrate
# *kwargs for variable number of keyword arguments


def myFun(**kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks